<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
  <h1 class="navbar-brand mb-0">Dashboard</h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">  
      <li class="nav-item">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
          <i class="fa fa-plus" aria-hidden="true"></i>Add New User
        </button>
      </li>     
      <li class="nav-item">
        <a class="nav-link" (click) = 'logout()'>Logout</a>
      </li>           
    </ul>
  </div>
</nav>
<app-users></app-users>