<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">New user</h5>
        <button type="button" (click) = "resetForm()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f = "ngForm" (ngSubmit)="addNewUser(f)">
          <div ngModelGroup = "addUserForm" #addUserForm = 'ngModelGroup'>
            <div class="form-group">
            <label for="user-name" class="form-control-label">First Name</label>
            <input type="text" class="form-control" ngModel #userFirstName = "ngModel" name="userFirstName">
          </div>
          <div class="form-group">
            <label for="user-surname" class="form-control-label">Last Name</label>
            <input type="text" class="form-control" ngModel #userLastName = "ngModel" name="userLastName">
          </div>
          </div>  
          <button class="btn btn-primary">Add User</button>         
        </form>
        <div *ngIf="userAdded" class="alert alert-success" role="alert">
          User <strong>{{submitMessage}}</strong> added successfully!
        </div>
      </div>      
    </div>
  </div>
</div>