<div class="form-container">
  	<h2 class="form-title">Login Form</h2>
  	<form #f = "ngForm" (ngSubmit)="submit(f)">
    	<div ngModelGroup = "loginForm" #loginForm = 'ngModelGroup'>
			<div class="form-group">
				<label for="userMail">Email</label>
					<input  
						required ngModel #userMail = "ngModel" appMailValidation        
						type="email" name="userMail" class="form-control"
						placeholder="Please type your email">
					<div class="alert alert-danger" 
						 [hidden]="userMail.valid || (userMail.pristine && !f.submitted)">
						Email format should be <i>username@domain.com</i>.
					</div>
					 <div 
						class="alert alert-danger" 
						*ngIf="userMail.touched && !userMail.valid">
						Email is required
					</div>  
			</div>
			<div class="form-group">
				<label for="userPassword">Password</label>
				<input 
					required ngModel #userPassword = 'ngModel' appPasswordValidation
					name="userPassword" type="password" class="form-control" 
					placeholder="Please type your password">
				<div class="alert alert-danger" 
						[hidden]="userPassword.valid || (userPassword.pristine && !f.submitted)">
						Password should contain minimum 8 characters and contain <i>uppercase,lowercase and digit</i>.
				</div>
				<div 
					class="alert alert-danger" 
					*ngIf="userPassword.touched && !userPassword.valid">
					Password is required
				</div> 
			</div>
    	</div>		
		<p>
			{{loginErrorMsg}}
		</p>
    	<button class="btn btn-primary submit" [disabled]='!f.valid'>Submit</button>
	</form>
</div>