<table class="table">
  <thead>
    <tr>
      <th>
        id 
        <a (click) = 'sortBy("id")'>
          <i class="fa fa-sort-numeric-desc" *ngIf = 'sort == 1' aria-hidden="true"></i>
          <i class="fa fa-sort-numeric-asc" *ngIf = 'sort == -1' aria-hidden="true"></i>
        </a>
      </th>
      <th>
        First Name 
        <a (click) = 'sortBy("first_name")'>
          <i class="fa fa-sort-alpha-desc" *ngIf = 'sort == 1' aria-hidden="true"></i>
          <i class="fa fa-sort-alpha-asc" *ngIf = 'sort == -1' aria-hidden="true"></i>
        </a>
      </th>
      <th>
        Last Name
        <a (click) = 'sortBy("last_name")'>
          <i class="fa fa-sort-alpha-desc" *ngIf = 'sort == 1' aria-hidden="true"></i>
          <i class="fa fa-sort-alpha-asc" *ngIf = 'sort == -1' aria-hidden="true"></i>
        </a> 
      </th>
      <th>Avatar</th>      
      <th>Edit/Delete User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let activeUser of activeUsers;">
      <th scope="row">{{ activeUser.id }}</th>
      <td>{{ activeUser.first_name }}</td>
      <td>{{ activeUser.last_name }}</td>
      <td> <img src="{{ activeUser.avatar }}" class="img-responsive rounded"></td>
      <td> 
        <a class="btn btn-success" [routerLink]="['./edit-user', activeUser.id]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationBox" (click) = 'deleteUser(activeUser)'>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>       
      </td>
    </tr> 
  </tbody>
</table>

<nav>
  <ul class="pagination">
     <li *ngFor = "let page of paginationPages"  class="page-item">
      <a class="page-link" (click) = 'getUsersList(page)'>
        {{ page }}         
      </a>
    </li>   
  </ul>
</nav>

<app-add-user (newUsers) = "handleNewUser($event)"></app-add-user>
<app-delete-user [userID]='deleteUserID' (confirmUserToDelete) = 'deleteConfirmedUser($event)'></app-delete-user>