<h2>You are editing the user <i class="name">{{ singleUser.first_name }} {{ singleUser.last_name }}</i></h2>
<form #form = 'ngForm'>  
  <div class="form-group">
    <label for="first_name" class="col-lg-2 control-label">First Name</label>
    <div class="col-lg-8">
        <input type="text" class="form-control " id="first_name" name="first_name" 
          required [(ngModel)]="singleUser.first_name" #first_name="ngModel">
        <div *ngIf="!first_name.valid && first_name.touched" class=" validation_alret alert alert-danger">
            This field is required
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="last_name" class="col-lg-2 control-label">Last Name</label>
    <div class="col-lg-8">
        <input type="text" class="form-control " id="last_name" name="last_name" 
          required [(ngModel)]="singleUser.last_name" #last_name="ngModel">
        <div *ngIf="!last_name.valid && last_name.touched" class=" validation_alret alert alert-danger">
            This field is required
        </div>
    </div>
  </div>
  <button class="btn btn-success" (click) = 'edit()'>
    Edit
  </button>
</form>

<div *ngIf="userEdited" class="alert alert-success" role="alert">
  User with ID {{editUserId}} edited as <strong>{{successMessage.first_name}} {{successMessage.last_name}}</strong>
  <button class="btn btn-primary" (click) = 'back()'>
    Go back
  </button>
</div>

